[user]
    email = sandersj1661@gmail.com
    name = Justin L Sanders

[alias]
    undo-last-commit = reset --soft HEAD~1
    log-graph = log --graph --decorate --pretty=oneline --abbrev-commit
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    current = rev-parse --abbrev-ref HEAD
    setupstream = "!f() { git branch --set-upstream-to=origin/$(git rev-parse --abbrev-ref HEAD) $(git rev-parse --abbrev-ref HEAD); }; f"

[includeIf "gitdir:~/Code/Wellspring/**"]
    path = ~/Code/Wellspring/.gitconfig

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input

